*{
    margin: 0;
}
header{
    background-color: #212121;
}
header img{
    height: 30px;
    margin: 5px;
}
.headerRight{
    display: flex;
}
.call{
    display: flex;
    align-items: center;
}
.call img, .logo{
    filter: invert(100%);
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header a{
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
}
header ul{
    position: absolute;
    background-color: #212121;
    top: 50px;
    display: none;
}
#FDd:hover ul{
    display: block;
}
.headerLeft{
    display: flex;
}
.logo{
    display: block;
    height: 40px;
    width: 40px;
    background-image: url("img/logoIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 0;
}
nav{
    display: flex;
    align-items: center;
}